/* .cre{
    background-image: url("../components/images/crew/background-crew-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 98vh;
} */